@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    
}
.box{
    position: relative;
    width: 480px;
    height: 650px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 650px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 650px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    z-index: 10;
    background: #28292d;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*h1{
    color: #45f3ff;
    margin-bottom: 20px;
    text-align: center;
}
.houver{
    margin-top: -10px;
    margin-bottom: 25px;
}*/
.logo{
    margin-bottom: 35px;
}
div.logo a:after{
	content: '';
	display: block;
	margin:auto;
	margin-top: 10px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
div.logo a:hover:after{
	width: 170px;
	background: #fff;
	height: 2px;
	box-shadow: 0 0px 10px 5px #45f3ff;
	transition: width .5s ease, background-color .5s ease;
}
.keys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.key{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.key.active{
    border: 2px solid #45f3ff;
    color: #45f3ff;
}
.composer{
    width: 305px;
    margin-top: 20px;
}
.inputBox{
    position: relative;
    width: 305px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}
.composer button{
    width: 100%;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
footer{
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
}
.icone{
	transition: all 0.6s;
}
.icone:hover{
	cursor: pointer;
	transform: translateY(-5px);
	transition: all 0.6s;
	opacity: 0.4;
}